<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--Let browser know website is optimized for mobile-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- reset.css -->
		<link rel="stylesheet" type="text/css" href="./public/assets/css/reset.css">
		{{!-- google Francois One font --}}
		<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
		{{!-- Google icons --}}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified Materialize CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		{{!-- style.css --}}
		<link rel="stylesheet" href="./public/assets/css/style.css" type="text/css">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="./public/assets/img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="./public/assets/img/favicon-16x16.png" sizes="16x16" />
		<title>John-Mike Marquardt</title>
	</head>
	<body class="container">
		<header>
			<nav class="z-depth-4">
			    <div class="nav-wrapper">
			      <a href="/" class="brand-logo center">John-Mike Marquardt</a>
			      <ul id="nav-mobile" class="left hide-on-med-and-down">
			        <li><a href="/">About</a></li>
			        <li><a href="/portfolio">Portfolio</a></li>
			      </ul>
			    </div>
			</nav>
		</header>

		{{{ body }}}

		<footer class="page-footer">
			<div class="footer copyright">
				<a href="/">&copy; 2016 John-Mike Marquardt</a>  
					<div class="right">
						<a href="https://github.com/codemarq">Github Profile</a>  |  <a href="https://www.linkedin.com/in/jmmarquardt">LinkedIn</a>
					</div>
			</div>
		</footer>
		
  		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	</body>
</HTML>
