<main class="card-panel z-depth-0">
	<h3>About Me</h3>
	<hr>
	<p>I am a full-stack web developer, engineer and scientist. I have worked in scientific instrumentation, chemical analysis and software support for the last 18 years and am currently completing UNC-Chapel Hill’s Coding Boot Camp.</p>
	<p>My hands-on experience includes building web apps, using APIs and persistent data, and providing IT support for laboratory software. I am knowledgeable in full-stack web development, and I am currently seeking a permanent, full-time role as a software developer in an organization where I can grow, collaborate and utilize my creativity and skills in problem solving.</p>
	<p>I am also a gamer and amateur musician. I enjoy coding classic arcade games using Python, Node.js, JavaScript or in Unity3d. I mostly enjoy spending time with my wife, son and dog at the park on weekends.</p>
</main>
