
<main>
	<section class="col-md-8 col-sm-12 panel panel-default">
		<div class="panel-heading"><h4>About John-Mike</h4></div>
		{{!-- <hr> --}}
  		<div class="panel-body">
  			<div class="media">
			  <div class="media-left media-top">
			    <a href="#">
			      <img class="media-object img-circle" src="public/assets/img/me2.jpg" alt="Photo of me.">
			    </a>
			  </div>
	
			  <div class="media-body">
			  	<p>I am a full-stack web developer, engineer and scientist. I have worked in scientific instrumentation, chemical analysis and software support for the last 18 years and am currently completing UNC-Chapel Hill’s Coding Boot Camp.</p>
			  	<p>My hands-on experience includes building web apps, using APIs and persistent data, and providing IT support for laboratory software. I am knowledgeable in full-stack web development and I am currently seeking a permanent, full-time role as a software developer in an organization where I can grow, collaborate and utilize my creativity and skills in problem solving.</p>
			  	<p>I am also a gamer, and amateur musician. I enjoy coding classic arcade games using Python, Node.js, JavaScript or in Unity3d. I mostly enjoy spending time with my wife, son and dog at the park on weekends.</p>
			  </div>
			</div>
  		</div>
	</section>
	
	<aside class="col-md-3 col-md-offset-1 col-sm-12 panel panel-default">
		<div class="panel-heading"><h4>Contact Me</h4></div>
		{{!-- <hr> --}}
  		<div class="panel-body">
  			<ul id="social-media">
  				<li class="col-xs-4">
  					<a href="http://www.linkedin.com/in/jmmarquardt"><img class="social" src="public/assets/img/1474707345_linkedin.png"></a>
  				</li>
  				<li class="col-xs-4">
  					<a href="https://github.com/codemarq"><img class="social" src="public/assets/img/1474707366_github.png"></a>
  				</li>
  				<li class="col-xs-4">
  					<a href="http://stackoverflow.com/users/6581996/john-mike-marquardt?tab=profile"><img class="social" src="public/assets/img/1474707371_stackoverflow.png"></a>
  				</li>
  			</ul>
  		</div>	
	</aside>
</main>