<main class="card-panel z-depth-2">
	<h1>About Me</h1>
	<hr>
	<p class="flow-text">
		I am a full-stack web developer, engineer and scientist. I have worked in scientific instrumentation, chemical analysis and software support for the last 18 years. When I am not tuning an ion-beam or troubleshooting a molecular separation, I am coding or spending time with my family.
	</p>
	<br />
	<p class="flow-text">
		My hands-on experience includes building web apps, using APIs and persistent data, and providing IT support for laboratory software. I am knowledgeable in full-stack web development and I just completed a 6-month coding bootcamp at UNC Chapel Hill. I am also a musician, gamer and I enjoy coding classic arcade games using Python, Node.js, JavaScript or in Unity3d.
	</p>
</main>
