body {
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.2;
  /*materialize sticky footer css*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
img {
  max-height: 195px;
}
footer.page-footer {
  background-color: transparent;
  color: black;
}

nav {
  background-color: transparent;
  color: black;
  margin-bottom: 1%;
}

.card-panel {
  background-color: transparent;
}

a {
  color: black;
}

h1 {
  font-size: 2.2rem;
}
nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
    padding-left: 1%;
}

.card {
  background-color: white;
  max-height: 380px;
}

.card-reveal p {
  color: black;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
}

.card-image {
  /*margin-bottom: 2.5%;*/
}
.card-content {
  max-height: 75px;
}

.card-action {
  min-height: 76px;
}
