body {
  font-family: 'Signika', sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.846;
  /*materialize sticky footer css*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
img {
  max-height: 195px;
}
footer.page-footer {
  background-color: transparent;
  color: black;
}

nav {
  background-color: transparent;
  color: black;
}

.card-panel {
  background-color: transparent;
}

p {
  font-size: 18px;
}

a {
  color: black;
}

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
}

h2 {

}

h3 {

}

.card {
  background-color: white;
}

.card-reveal p {
  color: black;
}
