html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(../img/rothko_blueandgrey1962_l.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Signika', sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  line-height: 1.846;
  color: #666666;

	/*Margin bottom by footer height */
	margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
  color: #fff;
}

.navbar {
  background-color: transparent;
  color: white;
}

.brand {
  /*background-color: #666666;*/
  color: white;
}

.panel-default > .panel-heading {
  background-color: transparent;
  color: white;
}

header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
  color: white;
}

figure img{
  max-height: 250px;
  max-width: 250px;
}

footer a {
  color: white;
}

p {
  color: white;
  font-size: 18px;
}

a {
  color: white;
}

h2 {
  color: white;
}