html {
  position: relative;
  min-height: 100%;
}

body {
  background: #346a7a; /* Old browsers */
  background: -moz-linear-gradient(top, #346a7a 0%, #07000a 46%, #346a7a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #346a7a 0%,#07000a 46%,#346a7a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #346a7a 0%,#07000a 46%,#346a7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#346a7a', endColorstr='#346a7a',GradientType=0 ); /* IE6-9 */

	/*background-image: url('../images/abstract-blue-background-pv.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.846;
  color: #666666;

	/*Margin bottom by footer height */
	margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
  color: #fff;
}

#social-media {
  display: inline;
}

.social {
  max-width: 100%;
}

.navbar-header {
  /*background-color: #666666;*/
  /*color: #346a7a;*/
}

.navbar-brand {
  /*background-color: #666666;*/
  /*color: #fff;*/
}

.panel-default > .panel-heading {
  background-color: white;
}

.img-circle {
  max-width: 200px;
}